<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.waterlufei.TestHikaricp.mapper.UserMapper">

    <select id="getUserInfo" parameterType = "com.waterlufei.TestHikaricp.vo.UserInfoRequest"
            resultType = "com.waterlufei.TestHikaricp.vo.UserInfoResponse">
      SELECT * FROM water WHERE username = #{username} AND password = #{password}
    </select>

    <select id="getWaterUserInfo" parameterType = "com.waterlufei.TestHikaricp.vo.UserInfoResponse"
            resultType = "com.waterlufei.TestHikaricp.vo.UserInfoResponse">
        SELECT * FROM waterlufei WHERE username = #{username} AND password = #{password}
    </select>

    <insert id="insertUser">
        INSERT INTO water(username,password) VALUES (#{username},#{password})
    </insert>

    <insert id="insertWaterUser">
        INSERT INTO waterlufei(username,password) VALUES (#{username},#{password})
    </insert>

</mapper>

